<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <div class="card">


              

                <div class="invoice p-5">

                    <h5>Congratulations Your Ticket is confirm Now !</h5>
                    <h6>Show Id - 466598</h6>
                    <div>
                    <img src="../../assets/4.jpeg" width="40%">
                    </div>
                    
                    <span>Your Movie Ticket has been confirmed Now. Please check your email for tickets! </span>
